/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

header {
    display: flex;
    justify-content: space-between;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.h1-title{
    margin: 0 0 10px 0;
    font-size: 22px;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.h3-title{
    margin: 0 0 10px 0;
    font-size: 16px;
    font-weight: 400;
}

.card {
    background-color: white;
    border-radius:20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header ***********/
/****** Header : logo ***********/
.logo {
    padding: 30px 0 30px 0;
}

.logo img {
    width : 61.09px;
}

/****** Header : menu navigation ***********/
.menu {
    list-style-type: none;
    display: flex;
}

.menu a {
    margin-left: 50px;          /* marge de gauche entre chaque lien */
    padding-top: 10px;          /* espacement entre le lien et la bordure du hover */
}

.menu a:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

/****** Formulaire de recherche **********/

.formulaire-de-recherche {
    margin: 30px 0 30px 0;

}

.localisation {
    display: block;             /* Pour que le bloc suivant "Filtres" ne se mette pas à côté */
}

.recherche {
    margin: 20px 0 0 0;
    display: inline-block;
    border: 1px solid #F2F2F2;
    border-radius: 15px;

}
.epingle-de-recherche {
    padding : 16px;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
}

.zone-de-recherche {
    border: 0px;
    padding: 15px;
}

input::placeholder {
    text-align: center;
    color: #000000;
    font-weight: 700;
    opacity: 1;
  }
  
input:focus::placeholder {
    color: transparent;
  }

.boutton-de-recherche {
    padding: 15px 16px 15px 16px;
    border: 0px;
    border-radius: 0 15px 15px 0;
    background-color: #0065FC;
    font-size: 16px;
    font-weight: 700;
    color: white;
}

/****** Filtres de recherche ***********/
.filtres {
    display: block;
    margin: 30px 0 15px 0px;
}

.filtre-titre {
    margin: 0 5px 0 0;
    display: inline-flex;
}
.filtre-rubrique  {
    margin: 0 5px 0 5px;
    display: inline-flex;
    align-items: center;
    padding: 4px 19px 4px 19px;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 700;
    max-height: 35px;
}

.filtre-rubrique img {
    height: 22px;
    padding-right: 10px;
}

.filtre-rubrique:hover {
    background-color: #DEEBFF;
}

.informations-nombre-de-logements {
    display: inline-flex;
    align-items: center;
}

.informations-nombre-de-logements img{
    padding-right: 10px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements .card {
    margin-bottom: 30px;
}


.hebergements-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 33px;
}

.hebergements-cards img {
    width: 240px;
    height: 114px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    height: 40%;
    padding: 0 15px 0 15px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin-bottom: 5px;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

.h3-title-hebergements {
    margin: 0;
}
/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}



/****** Activités ***********/
.activites {
    border-radius: 20px;
    margin: 30px;
    padding: 30px 0 30px 0;
    box-sizing: border-box;
}

.activite-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.activite-cards article {
    display: flex;
    flex-direction: column;
    height: 439px;
    width: 297.5px;
    margin-right: 30px;
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px #0000001A;
}

.activite-card img {
    height: 84.5%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activite-card .card-title {
    height: 20%;
    margin: inherit;
    padding: 20px 19px 20px 19px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        margin: 0;
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}